.contact
{
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
}
.email_text , .phone_text
{
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  color:#fa46ff;
}
.actual_email
{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 30px;
  color:#3ED54F;
}
.actual_phone
{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 30px;
  color: #3ED54F;
}
.send_email_text
{
  font-size: 30px;
  cfont-family: 'Raleway', sans-serif;
  color:#fa46ff;
}
.send_email
{
  color:#FFB54A;
  font-size: 25px;

}
.name_box , .email_box
{
  width:400px;
  height: 30px;
  padding:10px;
  border-style: solid;
  border-color: #E26100;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  font-family: 'Poppins', sans-serif;
  font-style:oblique;
  font-size:20px;
  background-color: #e0faff;
  text-shadow: 20px;
}
.email_body
{
  font-size: 15px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  width:400px ;
  height: 200px;
  font-style:oblique;
  background-color: #e0faff;
  text-shadow: 20px;
  border-style: solid;
  border-color: #E26100;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  text-shadow: 20px;
}
.Em_Ph
{
  display: grid;
  grid-template-columns: auto auto auto;
}
.name_text , .your_email_text , .message_text
{
  font-size: 30px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.send_email_text
{
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
}
.submit_button_email
{
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #3ED54F;
  cursor: pointer;
  display: inline-block;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.submit_button_email:hover,
.submit_button_email:focus
{
  background-color: #b3d3ea;
  color: #3ED54F;
}

.submit_button_email:focus
{
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.submit_button_email:active
{
  background-color: #fa46ff;
  box-shadow: none;
  color: #3ED54F;
}
