.photo_grid_container
{
  display: grid;
  grid-template-columns: auto auto;
}
.photo_grid
{
  background-color: ;
  text-align: center;
}
.photo_caption
{
  color:#3ed54f;
  font-size: 18px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.loc
{
  color:deeppink;
  font-size: 20px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.photos
{
  width: 600px;
  height: 400px;
}
all_photos
{
  text-align: center;
}
.ig
{
    font-size: 30px;
    text-align: center;
      font-family: 'Plus Jakarta Sans', sans-serif;

}
a.aig
{
    font-size: 30px;
    text-align:center;  
    font-family: 'Plus Jakarta Sans', sans-serif;
    color:deeppink;
}
